*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#777;
}

h1{
    text-align:center;
    color:white;
    margin:20px;
}

.calculator{
    width:420px;
    height:630px;
    margin:auto;
    background:black;
    padding:25px;
    border-radius:30px;
}

h2{
    color:white;
    margin-bottom:20px;
}

#display{
    width:100%;
    height:70px;
    font-size:30px;
    border:none;
    border-radius:20px;
    background:#20cfd4;
    text-align:right;
    padding-right:20px;
    margin-bottom:20px;
}

.top-buttons{
    display:flex;
    justify-content:flex-end;
    gap:15px;
    margin-bottom:25px;
}

.red{
    background:#e31937;
}

.orange{
    background:orange;
}

.top-buttons button{
    width:80px;
    height:55px;
    color:white;
    font-size:22px;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

.buttons{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:18px;
}

.buttons button{
    height:70px;
    font-size:30px;
    border:none;
    background:gray;
    color:white;
    cursor:pointer;
    transition:.3s;
}

.buttons button:hover{
    background:#9d27ab;
}

@media (max-width:768px){

    .calculator{
        width:90%;
        padding:20px;
    }

    #display{
        height:65px;
        font-size:28px;
    }

    .buttons button{
        height:65px;
        font-size:25px;
    }

    h1{
        font-size:40px;
    }

}

@media (max-width:480px){

    h1{
        font-size:30px;
    }

    .calculator{
        width:95%;
        padding:15px;
        border-radius:20px;
    }

    #display{
        height:60px;
        font-size:24px;
    }

    .buttons{
        gap:10px;
    }

    .buttons button{
        height:55px;
        font-size:22px;
    }

    .top-buttons button{
        width:60px;
        height:45px;
        font-size:18px;
    }

}

@media (max-width:360px){

    .calculator{
        width:98%;
        padding:10px;
    }

    #display{
        height:50px;
        font-size:20px;
    }

    .buttons{
        gap:8px;
    }

    .buttons button{
        height:48px;
        font-size:18px;
    }

    .top-buttons button{
        width:55px;
        height:40px;
        font-size:16px;
    }

}