/* =========================
   Global Styles
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background: url("images/clocks.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* =========================
   Header
========================= */

.header{
    background:brown;
    color:white;
    text-align:center;
    padding:20px;
}

.header h1{
    font-size:clamp(1.8rem,4vw,3rem);
}

/* =========================
   Container
========================= */

.container{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:50px 40px;
}

/* =========================
   Clock
========================= */

.clock{
    width:min(90vw,450px);
    aspect-ratio:1;

    background:#140232;
    border-radius:50%;
    border:8px solid white;

    position:relative;
    box-shadow:0 0 25px rgba(0,0,0,.5);
}

/* =========================
   Numbers
========================= */

.number{
    position:absolute;
    color:white;
    font-size:clamp(18px,4vw,32px);
    font-weight:bold;
}

/* Number Positions */

.number12{top:3%;left:50%;transform:translateX(-50%);}
.number1{top:10%;right:20%;}
.number2{top:22%;right:8%;}
.number3{top:50%;right:3%;transform:translateY(-50%);}
.number4{bottom:22%;right:8%;}
.number5{bottom:10%;right:20%;}
.number6{bottom:3%;left:50%;transform:translateX(-50%);}
.number7{bottom:10%;left:20%;}
.number8{bottom:22%;left:8%;}
.number9{top:50%;left:3%;transform:translateY(-50%);}
.number10{top:22%;left:8%;}
.number11{top:10%;left:20%;}

/* =========================
   Clock Hands
========================= */

.hand{
    position:absolute;
    left:50%;
    bottom:50%;
    transform-origin:bottom;
    transform:translateX(-50%) rotate(0deg);
    border-radius:20px;
}

.hour{
    width:2%;
    height:25%;
    background:white;
}

.minute{
    width:1.5%;
    height:34%;
    background:yellow;
}

.second{
    width:0.8%;
    height:40%;
    background:red;
}

/* =========================
   Center Dot
========================= */

.center{
    width:4%;
    aspect-ratio:1;
    background:white;
    border-radius:50%;

    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
}

/* =========================
   Tablet
========================= */

@media (max-width:768px){

    .container{
        padding-top:35px;
    }

    .clock{
        width:350px;
    }

}

/* =========================
   Mobile
========================= */

@media (max-width:480px){

    .header{
        padding:15px;
    }

    .clock{
        width:280px;
        border-width:6px;
    }

    .number{
        font-size:18px;
    }

}